body {
  background-color: #000;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
height: 95vh;

.section-login{
    background-color: #fff;
    border: 1px;
    border-radius: 10px;
}

  .header-login {
    font-size: 2rem;
    color: rgb(88, 71, 239);
  }
  .main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .input01-login{
    padding: '50px 0';

}
}
